@page "/MemberProfile/{idConnectedMember}"
@using BlazorAppBookXchange.Pages.MemberCard
@using BlazorAppBookXchange.Pages.BookList
@using BlazorAppBookXchange.Pages.ExemplaireList
<h3>MemberProfile</h3>

<p>Route path: @idConnectedMember</p>

@if(!(@connectedMember is null))
{
    <p>Pseudo : @connectedMember.Pseudo</p>
}

@*<Counter/>*@

<MemberCard></MemberCard>

<BookList></BookList>

<ExemplaireList></ExemplaireList>

@code {

}
