@page "/MemberProfile"

@page "/MemberProfile/{idConnectedMember}"
@using BlazorAppBookXchange.Pages.MemberCard
@using BlazorAppBookXchange.Components.LivreComponents
@using BlazorAppBookXchange.Pages.ExemplaireListByMember

@*<p>Route path: @idConnectedMember</p>
*@

@if(!(connectedMember is null))
{
    <h3>Bonjour @connectedMember.Pseudo</h3>
}

<MemberCard></MemberCard>

@*<ExemplaireListByMember></ExemplaireListByMember>
*@

@code {

}
