@page "/MemberProfile/{idConnectedMember}"
@using BlazorAppBookXchange.Pages.MemberCard
@using BlazorAppBookXchange.Pages.BookList
@using BlazorAppBookXchange.Pages.ExemplaireListByMember
<h3>Votre profil</h3>

<p>Route path: @idConnectedMember</p>

@if(!(@connectedMember is null))
{
    <p>Pseudo : @connectedMember.Pseudo</p>
}

@*<Counter/>*@

@*<MemberCard></MemberCard>
*@
<ExemplaireListByMember></ExemplaireListByMember>

@code {

}
