
<style>
    .foot {
        width: 100%;
        min-height: 20rem;
        background-image: url("./images/red-background-book_merged.jpg");
        background-size: contain;
        background-repeat: repeat-x;
        margin-top: 8rem;
    }
</style>

@*<Animate Animation="Animations.ZoomInUp" Duration="TimeSpan.FromSeconds(0.5)" @ref="animateFade" IsManual="false">
*@
    <div class="container-fluid foot static-bottom align-content-center">
        <p style="text-align: center; color: azure; padding: 3rem">
            <i>"  ...bon pied, bon œil..."
                <br/>
                — la Déroute, dans Belle-Rose (1847), de Amédée Achard. 
            </i>
        </p>
        @*<h3>THIS IS THE FOOTER</h3>*@
    </div>
@*</Animate>
*@
@code{
        //    private Animate? animateFade;

        //    private void AnimationFlip()
        //{
        //    animateFade?.Run();
        //}

}