@page "/404"
@using BlazorAppBookXchange.Pages.CustomNotFound

<div class="card customNotFound">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p><em>We are sorry, but we couldn't find the page you are looking for!!!</em></p>
                <p class="redy">Un peu perdu ?</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col text-md-center m-5 text-primary">
        <button type="button" class="btn btn-primary" @onclick="NavigateToHome">Navigate to the Home Page</button>
    </div>
</div>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    public void NavigateToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}