@page "/login"
@inject ApiRequester Requester

<h3>Identifier-vous ici:</h3>

<EditForm Model="membreLogin" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator />
    <p>
        Pseudo : <InputText @bind-Value=membreLogin.Pseudo/>
    </p>
@*    <p>
        Email : <InputText @bind-Value=membreLogin.Email/>
    </p>
*@    <p>
        Pwd : <InputText @bind-Value=membreLogin.Password/>
    </p>
    <button class="btn btn-success" type="submit">Valider</button>
    <ValidationSummary />
</EditForm>
@code {

}
