@page "/login"
@inject ApiRequester Requester
@inject AccountManager AccountManager

<h3>Identifier-vous ici:</h3>

<EditForm Model="membreLogin" OnValidSubmit="SubmitLoginForm">
    <DataAnnotationsValidator />
    <p>
        Pseudo : <InputText @bind-Value=membreLogin.Pseudo/>
    </p>
@*    <p>
        Email : <InputText @bind-Value=membreLogin.Email/>
    </p>
*@    <p>
        Pwd : <InputText @bind-Value=membreLogin.Password type="password"/>
    </p>
    <button class="btn btn-success" type="submit">Valider</button>
    <ValidationSummary />
</EditForm>

@*@if(AccountManager.IsConnected)
{
    <p>CONNECTION OK</p>
}
else
{
    <p>NOT CONNECTED</p>

}*@

@code {

}
