@page "/membercard"

<PageTitle>Member Card</PageTitle>

<h3>MemberCard</h3>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://avatars.githubusercontent.com/u/82599533?s=400&u=e8202244ad8c3c8493814368782a6d09e47a993a&v=4" class="img-fluid rounded-start try" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h3 class="card-header">HEADER</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>

      </div>
    </div>
  </div>
</div>



<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../images/placeholder-user-icon.png" class="img-fluid rounded-start try" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Votre profil</h5>
        <h3 class="card-header">Bonjour @connectedMember.Pseudo !</h3>
@*        <h3 class="card-header">@connectedMember.Pseudo</h3>
*@
@*        <p class="card-text">@connectedMember.Nom</p>
        <p class="card-text">@connectedMember.Prenom</p>
*@
        <p class="card-text"><small class="text-muted">Autres infos</small></p>
        
        <a href="#" class="btn btn-primary">Edit</a>

      </div>
    </div>
  </div>
</div>

@code {

}
