@page "/addlivre"

<h3>Ajoutez un ouvrage dans la liste commune de BookXchange</h3>


<EditForm Model="addLivre" OnValidSubmit="SubmitAddLivreForm">
    <DataAnnotationsValidator />
    <p>
        Titre : <InputText @bind-Value=addLivre.Titre/>
    </p>
    <p>
        Auteur : <InputText @bind-Value=addLivre.Auteur />
    </p>
    <p>
        Synopsis : <InputTextArea @bind-Value=addLivre.Synopsis />
    </p>
    <button class="btn btn-success" type="submit">Valider</button>
    <ValidationSummary />
</EditForm>