@page "/editlivre"

<h3>Ajoutez un ouvrage dans la liste commune de BookXchange</h3>

<EditForm Model="editLivre" OnValidSubmit="SubmitEditLivreForm">
    <DataAnnotationsValidator />
    <p>
        Titre : <InputText @bind-Value=editLivre.Titre/>
    </p>
    <p>
        Auteur : <InputText @bind-Value=editLivre.Auteur />
    </p>
    <p>
        Synopsis : <InputTextArea @bind-Value=editLivre.Synopsis />
    </p>
    <button class="btn btn-success" type="submit">Valider</button>
    <ValidationSummary />
</EditForm>