<div class="d-flex justify-content-center">
    <div class="spinner-border text-warning m-5" role="status" 
    style="width: 3rem; height: 3rem; border: 2px dashed #3A0647; border-bottom: 2px dashed #B72920; border-top: 2px dashed #E9922A">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>