@page "/ProfilMembre"

@page "/ProfilMembre/{idConnectedMember}"
@using BlazorAppBookXchange.Components.MembreComponents.MembreCard
@using BlazorAppBookXchange.Components.LivreComponents
@using BlazorAppBookXchange.Components.ExemplaireComponents.ExemplaireLists

@*<p>Route path: @idConnectedMember</p>
*@

@if(!(connectedMember is null))
{
    <h3>Bonjour @connectedMember.Pseudo</h3>
}

<MembreCard></MembreCard>

@*<ExemplaireListByMembre></ExemplaireListByMembre>
*@

@code {

}
