@page "/ProfilMembre"
@*@page "/ProfilMembre/{idConnectedMember}"
*@

@using BlazorAppBookXchange.Components.MembreComponents.MembreCard

@*<p>Route path: @idConnectedMember</p>
*@

@if(!(connectedMember is null))
{
    <div class="text-center">
        <h3>Bonjour @connectedMember.Pseudo</h3>
    </div>
}

<MembreCard></MembreCard>
