@page "/ProfilMembre"
@*@page "/ProfilMembre/{idConnectedMember}"
*@

@using BlazorAppBookXchange.Components.MembreComponents.MembreCard

@*<p>Route path: @idConnectedMember</p>
*@

@*<h3 style="text-align: center;">Votre carte de profil: </h3>
*@

<MembreCard></MembreCard>
