@page "/counter"
@using BlazorAppBookXchange.Pages

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<p role="status">Current title: @titleValue</p>


<CounterPrint CurrentCount="currentCount" Title="titleValue" />

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="ChangeTitle">Change title</button>


@code {
    private int currentCount = 0;

    private string titleValue = "base title";

    private void IncrementCount()
    {
        currentCount++;
    }

    private void ChangeTitle()
    {
        titleValue = "NewTitle";
    }
}
