@page "/"

<PageTitle>Index</PageTitle>

<h1>BookXchange vous souhaite la bienvenue !</h1>

<img src="../images/logo-bookXchange.jpg" title="BookXchange logo" alt="BookXchange logo" style="max-width:200px"/>


<SurveyPrompt Title="How is Blazor working for you?" />
