@page "/"
@using BlazorAppBookXchange.Pages.ExemplaireCard
@using BlazorAppBookXchange.Components.DetailsComponents


<PageTitle>Index</PageTitle>

@*<img src="../images/logo-bookXchange.jpg" title="BookXchange logo" alt="BookXchange logo" style="max-width:200px"/>
*@

@*<ExemplaireCard Text="Hello you"></ExemplaireCard>
*@

@*<SurveyPrompt Title="How is Blazor working for you?" />
*@


<h2>For DEV</h2>
<ul>
    <li><a href="./editLivre">UpdateLive</a></li>
    <li><a href="./deleteLivre">DeleteLive</a></li>
</ul>


<DetailsLivre Title="BookXchange vous souhaite la bienvenue." @attributes="AdditionalAttributes">
    <VisitContent>
        Thanks for visiting and sharing.

    </VisitContent>

    <Greetings>
        Hi !

    </Greetings>
        
</DetailsLivre>

@code{
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>
    {
        { "src", "/images/logo-bookXchange.jpg" },
        { "alt", "products image for the Home component" }
    };
}