@*<h2>Current count from DetailsLivre: @CurrentCount</h2>
*@

<div style="text-align:center">
    <h1 style="color: @Color">
        @Title
    </h1>
    <p>
        @VisitContent
    </p>
    <p>
        @Greetings
    </p>
    <p>
        <img @attributes="AdditionalAttributes" class="img-fluid rounded-start" />
    </p>
</div>